<div fxLayout="column">
    <div fxFlex *ngIf="!token && !performAction">
        <h2>Reset hasła</h2>
        <h4>Podaj email na który ma zostać wysłany link do zresetowania hasła:</h4>
        <form [formGroup]="emailForm" fxLayout="column" (submit)="sendResetLink()" class="loginForm">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Podaj swój email">
            </mat-form-field>
            <button mat-flat-button color="primary" [disabled]="!emailForm.valid">Wyślij</button>
        </form>
    </div>
    <div fxFlex *ngIf="performAction">
        <h2>Reset hasła</h2>
        <div [innerHTML]="actionMessage"></div>
    </div>
    <div fxFlex *ngIf="token && !performAction">
        <h2>Reset hasła</h2>
        <form [formGroup]="passwordResetForm" fxLayout="column" (submit)="changePassword()" class="loginForm">
            <div *ngIf="passwordResetForm.errors?.['passwordMatch'] && (passwordResetForm.touched || passwordResetForm.dirty)">
                Hasła nie pasują do siebie.
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Hasło</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Podaj hasło">
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" >
                    <div *ngIf="password?.errors?.['minlength']">
                        Hasło musi mieć przynajmniej 8 znaków.
                    </div>
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Powtórz hasło</mat-label>
                <input matInput type="password" formControlName="repeatedPassword" placeholder="Powtórz hasło">
                <div *ngIf="repeatedPassword?.invalid && (repeatedPassword?.dirty || repeatedPassword?.touched)" >
                    <div *ngIf="repeatedPassword?.errors?.['minlength']">
                        Hasło musi mieć przynajmniej 8 znaków.
                    </div>
                </div>
            </mat-form-field>
            <button mat-flat-button color="primary" [disabled]="!passwordResetForm.valid">Wyślij</button>
        </form>
    </div>
</div>