@import '../../../../variables.scss';
:host{
    background: $darkgray;
    padding: 20px;
    margin-bottom: 15px;
    color: #aaa;
}
.footerCopy {
    text-align: center;
}
.footerManu{
    margin-bottom: 15px;
}