<header flexLayout="row" fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start center" fxLayoutGap="15">
        <mat-icon color="accent" class="logoIcon">store</mat-icon>
        <span class="logo">Shop panel</span>
    </div>
    <div fxLayoutGap="15" fxLayoutAlign="start center">
        <button mat-flat-button (click)="logout()">Wyloguj</button>
    </div>
</header>
<div flexLayout="row" fxFlex>
    <div fxFlex="initial">
        <div fxFlex class="sidebar">
            <mat-selection-list [multiple]="false">
                <mat-list-option><a routerLink="/admin">Dashboard</a></mat-list-option>
                <mat-list-option><a routerLink="/admin/products">Produkty</a></mat-list-option>
                <mat-list-option><a routerLink="/admin/categories">Kategorie</a></mat-list-option>
                <mat-list-option><a routerLink="/admin/reviews">Opinie</a></mat-list-option>
                <mat-list-option>
                    <a routerLink="/admin/orders">Zamówienia</a>
                    <span class="subMenuLink"> |
                        <a routerLink="/admin/orders/export">Export</a>
                    </span>
                    <span class="subMenuLink"> |
                        <a routerLink="/admin/orders/stats">Statystyki</a>
                    </span>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
    <div fxFlex class="content">
        <app-admin-message></app-admin-message>
        <router-outlet></router-outlet>
    </div>
</div>